#output{
    display: none;
}
legend{
    text-shadow: 5px 5px darkseagreen;
    font-size: 3em;
}
body{
    background: lightgreen;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}
::placeholder{
    color: black;
}
fieldset{
    background-image: url(veggleft.png);
    background-repeat: no-repeat;
}
input[type=text]{
    background-color: lightcoral;
    border-color: cadetblue;
    border-radius: 4px;
}
footer{
    margin: auto;
    background-color: darkgreen;
    border: 2px solid darkgreen;
    width: 550px;
}
button {
    font-family: 'Luckiest Guy', cursive;
    display: inline-block;
    padding: 15px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
button:hover {background-color: #3e8e41}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}